extends layout

block content
  h1 Please upload CSV file
  form#upload-form(enctype="multipart/form-data", method="post", action="/csv")
    input(type="file", name="csv")
    input(type="submit", name="submit", value="Upload CSV")
    span#status
